.dub/build/library-debug-linux.posix-x86_64-dmd_2086-E290F18A579EE73B44F0C08CBCFD3855/libuim-core.a
libuim-core.a
libuim-core.a

\.dub/build/uim-core-test-library-unittest-linux\.posix-x86_64-dmd_2086-AF6156E7DCEA66EFA346158126DEE34B/uim-core-test-library

\.dub/build/uim-core-test-library-unittest-linux\.posix-x86_64-dmd_2086-AF6156E7DCEA66EFA346158126DEE34B/uim-core-test-library\.o

\.dub/build/uim-core-test-library-unittest-linux\.posix-x86_64-dmd_2088-590C9DF56786AA010B572E5C163DB067/uim-core-test-library

\.dub/build/uim-core-test-library-unittest-linux\.posix-x86_64-dmd_2088-590C9DF56786AA010B572E5C163DB067/uim-core-test-library\.o

\.dub/build/uim-core-test-library-unittest-linux\.posix-x86_64-dmd_2089-9D75EA509AC572BED17D70D17041200B/uim-core-test-library

\.dub/build/uim-core-test-library-unittest-linux\.posix-x86_64-dmd_2089-9D75EA509AC572BED17D70D17041200B/uim-core-test-library\.o

\.dub/build/uim-core-test-library-unittest-linux\.posix-x86_64-dmd_2089-AB1724D4B90E21681AED606D550C8AF9/uim-core-test-library

\.dub/build/uim-core-test-library-unittest-linux\.posix-x86_64-dmd_2089-AB1724D4B90E21681AED606D550C8AF9/uim-core-test-library\.o
uim-core-test-library
.dub/build/uim-core-test-library-unittest-linux.posix-x86_64-dmd_2091-F48472627BF5AE49BB53FB1EA71A0045/uim-core-test-library.o
dub.selections.json
.dub/build/uim-core-test-library-unittest-linux.posix-x86_64-dmd_2091-2342B7BEAB327407B9BBA48BF3801A71/uim-core-test-library.o
.dub/build/uim-core-test-library-unittest-linux.posix-x86_64-dmd_2091-35E0E04E028316E810A20C8274C68456/uim-core-test-library.o
.dub/build/uim-core-test-library-unittest-linux.posix-x86_64-dmd_2091-80DBA8DB7350BFC46FE1182C3ECAD2B8/uim-core-test-library.o
.dub/build/uim-core-test-library-unittest-linux.posix-x86_64-dmd_2091-53DA26B9B77EE49846C44C804D3065D1/uim-core-test-library.o
.dub/build/uim-core-test-library-unittest-linux.posix-x86_64-dmd_2091-AA211DFAD4CB466E32FF90C37844D624/uim-core-test-library.o
.dub/build/uim-core-test-library-unittest-linux.posix-x86_64-dmd_2093-5B7C5AE7B86307FBD352D4621ACA1AB1/uim-core-test-library.o
.dub/build/uim-core-test-library-unittest-linux.posix-x86_64-dmd_2094-60F0AFF692707810F0FFB45A146ACCD6/uim-core-test-library.o
